@charset "UTF-8";

body {
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    color: white;
    background-color: darkgreen;
}

h2 {color: darkgreen;}

p {text-align: justify;}
